.todosInfo {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.todosInfoStatus {
    display: flex;
    gap: 15px;
}

.todosInfoDelete {
    color: rgba(100, 100, 100, 0.9);
}

.todosInfoStatus span:hover, .todosInfoDelete:hover {
    color: black;
    cursor: pointer;
}
