.section {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newTodo {
    padding: 5px 20px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.todoComplete {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(100, 100, 100, 0.9);
    border-radius: 50%;
    cursor: pointer;
}

.todoCompleteChecked {
    background-image: url("../../Images/done.svg"), linear-gradient(90deg, rgba(32,110,250,1) 28%, rgba(84,32,205,1) 70%, rgba(84,44,153,1) 100%);
    background-size: cover;
    border-color: #206efa;
    border-right-color: rgba(84,44,153,1);
}

.newTodoCheckbox {
    display: none;
}

.inputField {
    padding: 15px 20px;
}

.newTodoInput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
    width: 100%;
    border: none;
    outline:none;
    border-radius: 10px;
}

.newTodoButton {
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(0, -50%);
    z-index: 9;
}

.newTodoButton:hover {
    cursor: pointer;
    fill: green;
}

.newTodoIcon  {
    vertical-align: middle;
}

