.todo {
    padding: 5px 20px;
    display: flex;
    flex: 100%;
    border-bottom: 1px solid rgba(210, 210, 210, 0.6);
    align-items: center;
    overflow-x: auto;
}

.todo:hover .todoButtonDelete {
    display: block;
}

.todoComplete {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(100, 100, 100, 0.9);
    border-radius: 50%;
    cursor: pointer;
}

.todoCompleteChecked {
    background-image: url("../../Images/done.svg"), linear-gradient(90deg, rgba(32,110,250,1) 28%, rgba(84,32,205,1) 70%, rgba(84,44,153,1) 100%);
    background-size: cover;
    border-color: #206efa;
    border-right-color: rgba(84,44,153,1);
}

.todoInput {
    flex-grow: 1;
    color: black;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputField {
    padding: 15px 20px;
}

.todoValueCompleted {
    color: rgba(100, 100, 100, 0.9);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    user-select : none;
}

.todoButton:hover {
    cursor: pointer;
}

.todoButtonDelete {
    display: none;
}

.todoButtonEdit:hover {
    fill: orange;
}

.todoButtonDelete:hover {
    fill: red;
}
