.main {
    position: relative;
}

.container {
    width: 500px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.mainContainer {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}
