.newTodo {
    padding: 5px 20px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.todoComplete {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(100, 100, 100, 0.9);
    border-radius: 50%;
    cursor: pointer;
}

.todoCompleteChecked {
    background-image: url("../Images/done.svg"), linear-gradient(90deg, rgba(32,110,250,1) 28%, rgba(84,32,205,1) 70%, rgba(84,44,153,1) 100%);
    background-size: cover;
    border-color: #206efa;
    border-right-color: rgba(84,44,153,1);
}

.newTodoCheckbox {
    display: none;
}

.newTodoInput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
    width: 100%;
    border: none;
    outline:none;
    border-radius: 10px;
}

.newTodoButton {
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(0, -50%);
    z-index: 9;
}

.newTodoButton:hover {
    cursor: pointer;
    fill: green;
}

.inputField {
    padding: 15px 20px;
}

.section {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todos {
    display: flex;
    flex-wrap: wrap;
}


.todoInput {
    flex-grow: 1;
    color: black;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.todoValueCompleted {
    color: rgba(100, 100, 100, 0.9);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    user-select : none;
}

.todoButton:hover {
    cursor: pointer;
}

.todoButtonDelete {
    display: none;
}

.todoButtonEdit:hover {
    fill: orange;
}

.todoButtonDelete:hover {
    fill: red;
}

.todoIcon, .newTodoIcon  {
    vertical-align: middle;
}

.todosInfo {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.todo {
    padding: 5px 20px;
    display: flex;
    flex: 100%;
    border-bottom: 1px solid rgba(210, 210, 210, 0.6);
    align-items: center;
    overflow-x: auto;
}

.todo:hover .todoButtonDelete {
    display: block;
}

.todosInfoStatus {
    display: flex;
    gap: 15px;
}

.todosInfoOption, .todosInfoDelete {
    color: rgba(100, 100, 100, 0.9);
}

.todosInfoOption.todosInfoStatusActive,
.todosInfoOption.todosInfoStatusActive:hover {
    color: #206efa;
}

.todosInfoStatus span:hover, .todosInfoDelete:hover {
    color: black;
    cursor: pointer;
}
