h1 {
    margin: 0;
}

button, button:active, button:focus {
    border: none;
    outline: none;
    background-color: inherit;
}

* {
    box-sizing: border-box;
}

.navigation {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.navigation__button {
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    cursor: pointer;
}

.navigation__button:not(:last-child) {
    border-right: 1px solid white;
}

.container {
    width: 500px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 200px;
    text-align: center;
    background-image: url("../Images/background.jpg");
    background-size: cover;
}

.header__title {
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
}
