h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

button, button:active, button:focus {
    border: none;
    outline: none;
    background-color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f3f3;
}
